{% extends "courses/base.html" %} {% block content %}
<a href="{% url 'education:courses:create' %}">Add new</a>


<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
</style>
</head>
<body>


{% if courses %}
<table style="background-color:#ffe6cc">
    <thead>
        <tr>
            <th>Course</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration</th>
        </tr>
    </thead>
<ul>
  {% for course in courses %}
    <tr>
            <td><a href="{% url 'education:courses:detail' course.id %}">{{course.name}}</a></td>
            <td>{{course.description}}</td>
            <td>{{course.start_date}}</td>
            <td>{{course.end_date}}</td>
            <td>{{course.months_duration}} months</td>
    </tr>
  {% endfor %}
</ul>
</table>
{% else %}
<p><strong>No courses yet.</strong></p>
{% endif %} {% endblock %}